body{
    background-color: #ffd11a;
}
#l{
float: right;
background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
width:100px;
height:20px;
text-align: center;
text-decoration: none;
color: black;
padding-top: 3px;
padding-bottom: 3px;
border: none;
border-radius: 10px;
}
form{
margin: auto;
border: 1px transparent solid;
border-radius: 10px;
box-shadow: 0px 23px 37px -5px rgba(0,0,0,0.75);
padding: 15px;
width: 30%;
}
input[type='text'],input[type='file'],input[type='submit'],select{
width:450px;
height: 35px;
margin: 5px;
border: none;
border-radius: 5px;
text-align: center;
font-size:19px;
}
label{
margin:auto;
display: block;
text-align: center;
line-height: 150%;
font-size:19px;
}
#ptitle{
margin: auto;
width: 30%;
height: 35px;
background-color: #ffd11a;
text-align: center;
padding: 15px;
border-radius: 10px;
box-shadow: 0px -11px 37px -5px rgba(0,0,0,0.75);
font-size: 30px;
}
#links{
text-align: center;
}
a{
text-decoration: none;
}
a:hover{
color:white;
}
#homelink{
background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  
box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
width:100px;
height:20px;
text-align: center;
text-decoration: none;
color: black;
padding:5px;
border: none;
border-radius: 10px;
margin-top: 50px;
}
#ap{
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
    width:100px;
    height:20px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding:5px;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}